# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
finanze-win32-x64/chrome_100_percent.pak
finanze-win32-x64/chrome_200_percent.pak
finanze-win32-x64/d3dcompiler_47.dll
finanze-win32-x64/ffmpeg.dll
finanze-win32-x64/finanze.exe
finanze-win32-x64/icudtl.dat
finanze-win32-x64/libEGL.dll
finanze-win32-x64/libGLESv2.dll
finanze-win32-x64/LICENSE
finanze-win32-x64/LICENSES.chromium.html
finanze-win32-x64/resources.pak
finanze-win32-x64/snapshot_blob.bin
finanze-win32-x64/v8_context_snapshot.bin
finanze-win32-x64/version
finanze-win32-x64/vk_swiftshader_icd.json
finanze-win32-x64/vk_swiftshader.dll
finanze-win32-x64/vulkan-1.dll
finanze-win32-x64/locales/af.pak
finanze-win32-x64/locales/am.pak
finanze-win32-x64/locales/ar.pak
finanze-win32-x64/locales/bg.pak
finanze-win32-x64/locales/bn.pak
finanze-win32-x64/locales/ca.pak
finanze-win32-x64/locales/cs.pak
finanze-win32-x64/locales/da.pak
finanze-win32-x64/locales/de.pak
finanze-win32-x64/locales/el.pak
finanze-win32-x64/locales/en-GB.pak
finanze-win32-x64/locales/en-US.pak
finanze-win32-x64/locales/es-419.pak
finanze-win32-x64/locales/es.pak
finanze-win32-x64/locales/et.pak
finanze-win32-x64/locales/fa.pak
finanze-win32-x64/locales/fi.pak
finanze-win32-x64/locales/fil.pak
finanze-win32-x64/locales/fr.pak
finanze-win32-x64/locales/gu.pak
finanze-win32-x64/locales/he.pak
finanze-win32-x64/locales/hi.pak
finanze-win32-x64/locales/hr.pak
finanze-win32-x64/locales/hu.pak
finanze-win32-x64/locales/id.pak
finanze-win32-x64/locales/it.pak
finanze-win32-x64/locales/ja.pak
finanze-win32-x64/locales/kn.pak
finanze-win32-x64/locales/ko.pak
finanze-win32-x64/locales/lt.pak
finanze-win32-x64/locales/lv.pak
finanze-win32-x64/locales/ml.pak
finanze-win32-x64/locales/mr.pak
finanze-win32-x64/locales/ms.pak
finanze-win32-x64/locales/nb.pak
finanze-win32-x64/locales/nl.pak
finanze-win32-x64/locales/pl.pak
finanze-win32-x64/locales/pt-BR.pak
finanze-win32-x64/locales/pt-PT.pak
finanze-win32-x64/locales/ro.pak
finanze-win32-x64/locales/ru.pak
finanze-win32-x64/locales/sk.pak
finanze-win32-x64/locales/sl.pak
finanze-win32-x64/locales/sr.pak
finanze-win32-x64/locales/sv.pak
finanze-win32-x64/locales/sw.pak
finanze-win32-x64/locales/ta.pak
finanze-win32-x64/locales/te.pak
finanze-win32-x64/locales/th.pak
finanze-win32-x64/locales/tr.pak
finanze-win32-x64/locales/uk.pak
finanze-win32-x64/locales/ur.pak
finanze-win32-x64/locales/vi.pak
finanze-win32-x64/locales/zh-CN.pak
finanze-win32-x64/locales/zh-TW.pak
finanze-win32-x64/resources/app/.editorconfig
finanze-win32-x64/resources/app/.gitignore
finanze-win32-x64/resources/app/angular.json
finanze-win32-x64/resources/app/app.js
finanze-win32-x64/resources/app/package.json
finanze-win32-x64/resources/app/README.md
finanze-win32-x64/resources/app/tsconfig.app.json
finanze-win32-x64/resources/app/tsconfig.json
finanze-win32-x64/resources/app/tsconfig.spec.json
finanze-win32-x64/resources/app/.vscode/extensions.json
finanze-win32-x64/resources/app/.vscode/launch.json
finanze-win32-x64/resources/app/.vscode/tasks.json
finanze-win32-x64/resources/app/src/favicon.ico
finanze-win32-x64/resources/app/src/index.html
finanze-win32-x64/resources/app/src/main.ts
finanze-win32-x64/resources/app/src/styles.scss
finanze-win32-x64/resources/app/src/app/app-routing.module.ts
finanze-win32-x64/resources/app/src/app/app.component.html
finanze-win32-x64/resources/app/src/app/app.component.scss
finanze-win32-x64/resources/app/src/app/app.component.spec.ts
finanze-win32-x64/resources/app/src/app/app.component.ts
finanze-win32-x64/resources/app/src/app/app.module.ts
finanze-win32-x64/resources/app/src/app/HTTP.service.spec.ts
finanze-win32-x64/resources/app/src/app/HTTP.service.ts
finanze-win32-x64/resources/app/src/app/loading.service.spec.ts
finanze-win32-x64/resources/app/src/app/loading.service.ts
finanze-win32-x64/resources/app/src/app/corpo/corpo.component.html
finanze-win32-x64/resources/app/src/app/corpo/corpo.component.scss
finanze-win32-x64/resources/app/src/app/corpo/corpo.component.spec.ts
finanze-win32-x64/resources/app/src/app/corpo/corpo.component.ts
finanze-win32-x64/resources/app/src/app/menu-laterale/menu-laterale.component.html
finanze-win32-x64/resources/app/src/app/menu-laterale/menu-laterale.component.scss
finanze-win32-x64/resources/app/src/app/menu-laterale/menu-laterale.component.spec.ts
finanze-win32-x64/resources/app/src/app/menu-laterale/menu-laterale.component.ts
finanze-win32-x64/resources/app/src/app/menu-principale/menu-principale.component.html
finanze-win32-x64/resources/app/src/app/menu-principale/menu-principale.component.scss
finanze-win32-x64/resources/app/src/app/menu-principale/menu-principale.component.spec.ts
finanze-win32-x64/resources/app/src/app/menu-principale/menu-principale.component.ts
finanze-win32-x64/resources/app/src/app/navbar/navbar.component.html
finanze-win32-x64/resources/app/src/app/navbar/navbar.component.scss
finanze-win32-x64/resources/app/src/app/navbar/navbar.component.spec.ts
finanze-win32-x64/resources/app/src/app/navbar/navbar.component.ts
finanze-win32-x64/resources/app/src/app/saldo/saldo.component.html
finanze-win32-x64/resources/app/src/app/saldo/saldo.component.scss
finanze-win32-x64/resources/app/src/app/saldo/saldo.component.spec.ts
finanze-win32-x64/resources/app/src/app/saldo/saldo.component.ts
finanze-win32-x64/resources/app/src/app/storico/storico.component.html
finanze-win32-x64/resources/app/src/app/storico/storico.component.scss
finanze-win32-x64/resources/app/src/app/storico/storico.component.spec.ts
finanze-win32-x64/resources/app/src/app/storico/storico.component.ts
finanze-win32-x64/resources/app/src/assets/.gitkeep
finanze-win32-x64/resources/app/src/assets/sql-wasm.wasm
finanze-win32-x64/resources/app/src/assets/img/graph.svg
finanze-win32-x64/resources/app/src/datas/database.db
finanze-win32-x64/resources/app/.vscode/extensions.json
finanze-win32-x64/resources/app/.vscode/launch.json
finanze-win32-x64/resources/app/.vscode/tasks.json
finanze-win32-x64/resources/app/.vscode/extensions.json
