<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
        rel="stylesheet">

</head>

<div id="logo"><span class="material-symbols-rounded">
        paid
    </span></div>
<div id="menus" *ngIf="!loading">
    <a routerLink="/">
        Menu
    </a><div class="divisore_verticale"></div>
    <a routerLink="/storico">
        Storico
    </a><div class="divisore_verticale"></div>
    <a onclick="window.close()">
        Logout
    </a>
</div>
