
#menus a {
    color: aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-app-region: no-drag;
}

#menus {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    -webkit-app-region: no-drag;
}

.material-symbols-rounded {
    color: aliceblue;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' -25,
  'opsz' 48;
  -webkit-app-region: no-drag;
}
