app-saldo{
    display: block;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow:  20px 20px 36px #bebebe,
                 -20px -20px 36px #ffffff;
    margin-bottom: 25px;
    }
    
                 
app-menu-laterale{
    display: block;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow:  20px 20px 36px #bebebe,
                 -20px -20px 36px #ffffff;
    }